.expense-calculator {
  text-align: center;
}

.expense-form {
  padding: 20px;
}

.expense-input {
  margin: 10px;
}

.price-input {
  margin: 10px;
}

input {
  margin: 4px;
}

.expense-details {
  padding: 4px;
}

button {
  cursor: pointer;
}
